<header>
    <h1 href="#">Movies</h1>
    <nav>
        <li><a href="#avengers">Avengers: Infinity War</a></li>
        <li><a href="#spider-man">Spider-Man: Far From Home</a></li>
        <li><a href="#thor">Thor: Ragnarok</a></li>
    </nav>
</header>



<section *ngFor="let movies of listaMovies" class="container">

<section class="container">

    <div id="avengers" class="child">
        <h1>{{ movies.nome }}</h1>
        <h3>{{  movies.ano }}</h3>
        <h3>{{ movies.diretor }}</h3>
        <h3>{{ movies.genero }}</h3>
        <h3>{{ movies.descricao }}</h3>


    </div>
    <div class="child">
        <img alt="poster do filme"[src]="movies.poster + '.jpg'">
    </div>
</section>


</section>

<footer>
    <p>Todos os direitos reservados</p>
</footer>
